<h1>All sellers</h1>
<%= link_to 'Create new seller', new_seller_path, class: 'btn btn-primary' %>
<br>

<% unless flash[:notice].blank? %>
  <div class="alert alert-success">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= sortable "Name" %></th>
      <th><%= sortable "Rating" %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @sellers %>
  </tbody>
</table>