<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<!-- 	Ovo je da bude centrirano -->
		<br>
		<h1>Create new seller</h1>
		<br>
		<% if @seller.errors.any? %>
			<div class="alert alert-danger">
				<% @seller.errors.full_messages.each do |error| %>
					<p><%= error %></p>
				<% end %>
			</div>
		<% end %>

		<%=  form_for @seller do |form| %>
			<%= form.label :name %>
			<%= form.text_field :name, class: 'form-control' %>
			<br>
			<%= form.label :rating %>
			<%= form.text_field :rating, class: 'form-control' %>
			<br>
			<%= form.submit 'Save', class: 'btn btn-block btn-default' %>
		<% end %>

	</div>
</div>