<ol class="breadcrumb">
<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Home', root_path %></li>
	<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'About', about_path %></li> 
<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Test', test_path %></li>
<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Products', products_path %></li>
<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Categories', categories_path %></li>
<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Sellers', sellers_path %></li>
<!-- <li class="active"></li> -->
</ol>