<ol class="breadcrumb">
	<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Home', root_path %></li>
	<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'About', about_path %></li> 
	<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Test', test_path %></li>
	<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Products', products_path %></li>
	<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Categories', categories_path %></li>
	<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Sellers', sellers_path %></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% unless logged_in? %>
        <li><%= link_to 'Login', new_session_path %></li>
        <li><%= link_to 'Register', new_user_path %></li>
      <% else %>
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">Logged in as: <%= current_user.username %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>
              <li><%= link_to 'Dashboard', admin_dashboard_path %></li>
            <% end %>
            <li><%= link_to 'Logout', session_path, method: :delete %></li>
          </ul>
        </li>
      <% end %>
</ul>
</ol>