<div class="jumbotron">
  <div class="container">
    <h1><%= @ror_title %></h1>
		<h3><%= @ror_subtitle %></h3>
		<br>
		<h3>You can choose from <%= @p_count %> different products. <%= link_to 'Start shopping now!', products_path %> </h3>
  </div>
</div>



<!-- <h1><%= @welcome_message %></h1>


<button class="btn btn-primary">Click me</button> -->