<h1>Categories</h1>
<%= link_to 'Create new category', new_category_path, class: 'btn btn-primary' %>

<% unless flash[:notice].blank? %>
  <div class="alert alert-success">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %></td>
        <td><%= category.description %></td>
        <td>
        <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

