<div class="row">
	<div class="col-md-6">

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				<strong>Name of the category: </strong>
			</th>	
			<th>
				<strong>Description: </strong>
			</th>
			<th>
				<strong>List of products in this category: </strong>
			</th>
		</tr>
	</thead>
	<tbody>
		<td>
			<%= @category.name %>
		</td>
		<td>
			<%= @category.description %>
		</td>
		<td>
			<% @category.products.each do |product| %>
    		<p> 
        	<%= product.name %>
    		</p>
			<% end %>
		</td>
	</tbody>
</table>

<%= link_to 'Edit', edit_category_path, class: 'btn btn-sm btn-primary' %> |
<%= link_to 'Back', categories_path, class: 'btn btn-sm btn-primary' %> |
<%= link_to 'Delete this category', category_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-primary' %>


</div>
</div>