<tr>
  <td><%= link_to product.name, product_path(product) %></td>
  <td><%= product.price %></td>
  <td><%=   %></td>
  <td><%= product.category %></td>
  <td><%= product.created_at %></td>
  <td>
    <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
  </td>
</tr>
