<h1>All products</h1>
<%= link_to 'Create new product', new_product_path, class: 'btn btn-primary' %>
<br>

<% unless flash[:notice].blank? %>
	<div class="alert alert-success">
		<p><%= flash[:notice] %></p>
	</div>
<% end %>

<table class="table table-condensed">
  <thead>
    <tr>
    	<th><%= sortable "id" %></th>
      <th><%= sortable "name" %></th>
      <th><%= sortable "price" %></th>
    </tr>
  </thead>

 <tbody>
   <% @products.each do |product| %>
     <tr>
     	<td><%= product.id %></td>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.price %></td>
      <td>
      	<%= link_to 'Edit', edit_product_path(product), class: 'btn btn-sm btn-primary' %>
				<%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
			</td>
    </tr>
   <% end %>
 </tbody>


