<h1>All products</h1>
<%= display_count @products, 'Broj proizvoda' %>
<%= link_to 'Create new product', new_product_path, class: 'btn btn-primary' %>
<br>

<% unless flash[:notice].blank? %>
	<div class="alert alert-success">
		<p><%= flash[:notice] %></p>
	</div>
<% end %>

<table class="table table-condensed">
  <thead>
    <tr>
    	<th><%= sortable "id" %></th>
      <th><%= sortable "name" %></th>
      <th><%= sortable "price" %></th>
    </tr>
  </thead>

 <tbody>
  <%= render @products %>
 </tbody>
</table>


